body{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png');

}
.lista{
    text-align: center;
    width: 40%;
    height: 290px;
    background-color: white;
    margin: auto;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
